<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oneshot Media</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Ubuntu&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://kit.fontawesome.com/b94c50ebb7.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <%- include('partials/header') -%>
    <main class="main-container">
      <section class="product-sec">
        <a href="#" class="product-link">matterport 3d tours</a>
        <a href="#" class="product-link">virtual open house</a>
        <a href="#" class="product-link">premium real estate photos</a>
      </section>
      <section class="video-sec">
        <h3 class="video-title">
          we are <span class="bold">content creators</span> for residential
          realtors & beyond
        </h3>
        <iframe
          src="https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fplayer.vimeo.com%2Fvideo%2F363330839%3Fapp_id%3D122963&dntp=1&display_name=Vimeo&url=https%3A%2F%2Fplayer.vimeo.com%2Fvideo%2F363330839&image=http%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F818447843_1280.jpg&key=61d05c9d54e8455ea7a9677c366be814&type=text%2Fhtml&schema=vimeo&wmode=opaque"
          frameborder="0"
          scrolling="no"
          title="Vimeo embed"
          allow="autoplay; fullscreen"
          class="video"
        ></iframe>
      </section>
      <section class="category-sec">
        <h3 class="category-title">
          which of these categories do you fit into?
        </h3>
        <div class="category-container">
          <div class="category">
            <img
              src="https://images.squarespace-cdn.com/content/v1/55d4bb27e4b07a483c70feea/1536586884973-NN22EES4PRRVRNX30NS4/ke17ZwdGBToddI8pDm48kD4pBx_KHpsIRI7VuXNdcaR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmJdLpeZW_ttQnjXwTxihzWGvPSQiIyucc1gsqWhAvdI7cmi-mkpLym_0IFMKgcqm3/Print-1.jpg?format=300w"
              alt=""
              class="category-img"
              id="tiny-img"
            />
            <p class="property-type">residential</p>
            <ul class="property-ex">
              <li>listing agents</li>
              <li>home builders</li>
              <li>property managers</li>
            </ul>
            <a href="#" class="category-btn">that's me!</a>
          </div>
          <div class="category">
            <img
              src="https://images.squarespace-cdn.com/content/v1/55d4bb27e4b07a483c70feea/1520934542480-R7D1AK18KVYJAHDFUFXW/ke17ZwdGBToddI8pDm48kBth9zuhSwWlCZUhUfBNymJZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PI6rxVfzuT5VnnA2TRskRatHx2G97P9pws44McPf1dYMUKMshLAGzx4R3EDFOm1kBS/23550307_1791237787835944_6326216684066303446_o+%281%29.jpg?format=750w"
              alt=""
              class="category-img"
            />
            <p class="property-type">multi-family</p>
            <ul class="property-ex">
              <li>apartments</li>
              <li>hotels</li>
              <li>new developments</li>
            </ul>
            <a href="#" class="category-btn">that's me!</a>
          </div>
          <div class="category">
            <img
              src="https://images.squarespace-cdn.com/content/v1/55d4bb27e4b07a483c70feea/1520934555772-55P1YUS9EDI1G6DLP9FU/ke17ZwdGBToddI8pDm48kBIkQ6BpXxi_9dtfIasthhVZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpzSaLj8w0YDPn2WHB8GJ_LztSXmqlyOsVSt0NebUuTxNFM_pkrYYVyX5hyB9gpLD9Y/HealthEast+Retail+Photography.jpg?format=500w"
              alt=""
              class="category-img"
            />
            <p class="property-type">retail</p>
            <ul class="property-ex">
              <li>storefront businesses</li>
              <li>restaurants</li>
              <li>boutique shops</li>
            </ul>
            <a href="#" class="category-btn">that's me!</a>
          </div>
        </div>
      </section>
      <section class="why-oneshot-sec">
        <h2 class="why-title">why oneshot media?</h2>
        <p class="why-catch">
          we are
          <span class="bold"
            >trusted google photographers & trusted matterport service
            providers.</span
          >
          this combination gives us the capability of publishing extraordinary
          media to google.
        </p>
        <div class="why-media-container">
          <div class="why-left">
            <img
              src="https://images.squarespace-cdn.com/content/v1/55d4bb27e4b07a483c70feea/1521075692200-XHS02Y9CEAC3CPCE087N/ke17ZwdGBToddI8pDm48kB_F5ou5Nv4nCV7mv1jiGJIUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2dp5m48RpJIadfIbe6LRqv-P3y922665OPnItyVLLmO18CjLISwBs8eEdxAxTptZAUg/SVtrusted-EN.png?format=500w"
              alt=""
              class="why-img street-trusted"
            />
            <img
              src="https://images.squarespace-cdn.com/content/v1/55d4bb27e4b07a483c70feea/1520937265566-JFCB9M2E2L14TF5LEXR7/ke17ZwdGBToddI8pDm48kDZqyJCH6-4IMMFun-eXo8VZw-zPPgdn4jUwVcJE1ZvWEtT5uBSRWt4vQZAgTJucoTqqXjS3CfNDSuuf31e0tVHfyunM0BKQnVxgsL-tBbsLwyaVSG9pA2npS8gadcUVHTqWIIaSPh2v08GbKqpiV54/Maps+icons.png?format=300w"
              alt=""
              class="why-img map-logo"
            />
            <img
              src="https://images.squarespace-cdn.com/content/v1/55d4bb27e4b07a483c70feea/1520937181952-7AJRKJDXPCTGLEI7FHB7/ke17ZwdGBToddI8pDm48kJMiGgK4z2GnF_zv8Cxg4roUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKc0UADBTEx6DL3hE9HL6vORfOLbJEKRu_QSb-rUWwkFcdd47hEYpfjzflgsFlpyKO8/tools.png?format=500w"
              alt=""
              class="why-img why-devices"
            />
          </div>
          <div class="why-right">
            <p class="why-text">
              Want the interior of your property to be completely explorable in
              3D directly in Google Maps? <span class="bold">Easy.</span>
            </p>
            <p class="why-text">
              Want to work with one service provider that provides all real
              estate showcasing media?<span class="bold"> That's us.</span>
            </p>
            <p class="why-text">
              Do you enjoy working with a bright, energetic team of young
              professionals who are eager to please?
              <span class="bold">Holy balloons.</span>
            </p>
          </div>
        </div>
      </section>
      <section class="services-sec">
        <h2 class="services-title">our complete list of services includes:</h2>
        <ul class="services-list">
          <li class="service-item">premium still photography</li>
          <li class="service-item">property showcasing videos</li>
          <li class="service-item">matterport 3d virtual tours</li>
          <li class="service-item">drone photo & video</li>
          <li class="service-item">floor plans</li>
        </ul>
      </section>
      <section class="trusted-sec">
        <h2 class="trusted-title">trusted by minnesota industry leaders:</h2>
        <img
          src="https://images.squarespace-cdn.com/content/v1/55d4bb27e4b07a483c70feea/1493155226236-IJQOF2C85TJO2SYV80GG/ke17ZwdGBToddI8pDm48kOLTVNbTL732_DyYrEZfzld7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0o8OMvY5tuV_wqZQCqqStn69IQVlywXvr2R8DLcuy5ugV8K0mwoJExq4Gur-5NTW5g/Oneshot+Client+Logos.jpg?format=1000w"
          alt=""
          class="trusted-companies-img"
        />
        <img
          src="https://images.squarespace-cdn.com/content/v1/55d4bb27e4b07a483c70feea/1523051603249-YFWSW7D3C087E80JQK2K/ke17ZwdGBToddI8pDm48kLPijHqZr8fkBwtfiOOJSZl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmyN9JdEQj9fyVyV3k8XwI6sbFyLL5LAbV76PvXW7MRbhNVZD0w4BexRmUAAubg6sk/SVtrusted-EN.png?format=300w"
          alt=""
          class="street-view-2"
        />
        <p class="trusted-text">fully insured. commercially licensed.</p>
      </section>

      <section class="contact-sec">
        <img
          src="https://images.squarespace-cdn.com/content/v1/55d4bb27e4b07a483c70feea/1465340838152-M5S0OH7R5P4WQ26QJGA7/ke17ZwdGBToddI8pDm48kAaWgXeMvvRtM7UDm3t-JusUqsxRUqqbr1mOJYKfIPR7ObdNX8ufmDOf25UtiTAzdRhvlA0wF-Xl6Mm9sbU-VKpCRW4BPu10St3TBAUQYVKcppzuzMOS-Poz37bvSHK9tAZITxk0WaM2iZeHtMcwVp4OzcT79ai0bYEsBaHzh2mD/image-asset.jpeg?format=500w"
          alt=""
          class="contact-img"
        />
        <p class="contact-text">
          Ready to take the next step? We're ready to bring the next level of 3D
          production for your residential or commercial space.
        </p>
        <p class="address">
          oneshot media - minneapolis, 333 north washington avenue, suite 107,
          minneapolis, mn, 55401, united states
        </p>
        <p class="jack-contact">(612)799-0068 jack@oneshot.media</p>
      </section>
    </main>
   <%- include('partials/footer') -%>
  </body>
  <script src="js/header.js"></script>
</html>
